@media (max-width: 990px) {
	/*針對tr去做隱藏,隱藏第一個標題的tr*/
	tr.tr-only-hide {display: none !important;}
	/*讓tr變成區塊主要讓他有個區塊*/
	.table-rwd tr{
		display: table;/*tr變成table*/
		border: 1px solid #ddd;
		/*background: #eee;*/
		margin-top: 10px;
		width: 100%;
	}
	.table-rwd td {
		display: table-row;/*td變成tr*/
	}
	.table-rwd td:before {
		/*最重要的就是這串*/
		content: attr(data-th) " : ";
		/*最重要的就是這串*/
		display: table-cell; /*td:before變成最左邊td*/
		text-transform: uppercase; /*字母均大寫*/
		font-weight: bold; /*粗體*/
		color: #273F42;
		width: 25%;
		padding: 5px 15px 5px 0px;
		text-align: right;
	}
	/*當RWD縮小的時候.table-bordered 會有兩條線，所以針對.table-bordered去做修正*/
	.table-rwd.table-bordered th,
	.table-rwd.table-bordered{
		border:0;
	}
}